
body{
    margin: 0;
}

main{
	height:100vh;
	display: flex;
}

main>div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.color>p{
	display: inline;
	margin: 0;
	padding: 0;
	transition: transform 2s;
}

.color>p:hover{
	transform: rotate(360deg);
}

main>div:nth-child(1){
    background-color: #0ff;
	flex: 1 1 auto;
}
main>div:nth-child(2){
    background-color: #0dd;
	flex: 1 1 auto;
}
main>div:nth-child(3){
    background-color: #0aa;
	flex: 1 1 auto;
}
main>div:nth-child(4){
    background-color: #088;
	flex: 1 1 auto;
}
main>div:nth-child(5){
    background-color: #066;
	flex: 1 1 auto;
}
